* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

  /* Main layout */

#layout{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  }

.side{
  border: 1px solid black;
  grid-row: 1 / 8;
}

.top{
  border: 1px solid black;
  grid-column: 2;
  grid-row: 1/2;
}
.main{
  border: 1px solid black;
  grid-column:2 ;
  grid-row: 2/8;
}

/* side-bar layout */

.side{ 
  color: white; /*temp*/
  display: grid;
  justify-items: center;
}

.logo{
  align-self: center;
}

.nav{
  width: 100%;
  display: grid;
  align-self: center;
}
.nav ul{
  display: grid;
  gap: 50px;
  justify-items: center;
}
.nav ul > li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  gap: 10px;
 
  
}

.nav ul > li svg{
  height: 35px;
  width: 35px;
  
 
}
.nav ul > li p.manga{
 margin-right: 100px;
 margin-left: 0;
}
.nav ul >li p.home{
  margin-right: 105px;
}

.nav ul >li p.anime{
  margin-right: 103px;
}
.nav ul >li p.read{
  margin-right: 108px;
}
.nav ul > li p.watch{
  margin-right: 100px;
 }
.nav ul >li p.community{
  margin-right: 68px;
}

.nav ul > li p.industry{
  margin-right: 90px;
}
.settings{
  width: 100%;
  display: grid;
  align-self: center;
}

.settings ul{
  display: grid;
  gap: 25px;
  justify-items: end;
  margin-right: 50px;
}
.settings ul > li svg{
  height: 25px;
  width: 25px;
 
}

.settings ul > li{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.settings ul>li p.set{
  margin-right: 20px;
}
.settings ul>li p.support{
  margin-right: 20px;
}
.settings ul>li p.privacy{
  margin-right: 22px;
}

/* top layout */

.top{
  color: white;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  /* align-content: center; */
}

.profile-pic{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  grid-column: 1;
  align-self: center;
  margin-left: 25px;

  
}


h1.user{
  align-self: center;
  margin-top: 20px;

  
}
.dp{
  grid-column: 1/5;
  display: flex;
}
.searchbar{
  grid-column: 1/3;
  display: flex;
  margin-top: 30px;
  margin-left: 10px;
 
}

.searchbar svg{
  width: 25px;
  height: 25px;
}

.searchbar input{
  height: 30px;
  width: 70%;
  border-radius: 10px;
  border: none;
}

.btn-top{
  grid-column: 3/5;
  display: grid;
  justify-content: end;
  /* grid-row: 2/3; new */
 
}

.btn-top ul{
  height: 100%;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
  align-items: end;
  gap: 50px;
  margin-right: 15px;

}

.btn-top ul li{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* main layout */

.main{
  color: white;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.card-wrapper{
  grid-column: 1/2;
  grid-row: 1/4;
}

.upcoming-wrapper{
  grid-column: 2/3;
  grid-row: 1 / 3;
  margin-left: 5px;
}

.topAnime-wrapper{
  grid-column: 2/3;
  grid-row: 3 / 4;
}


/* layout for upcoming anime  */

.upcoming-wrapper{
  display: grid;
  grid-template-rows: 1fr 6fr;
}
.upcoming-title{
  align-self: center;
  text-align: center;
}
.upcoming-wrapper ul{
  display: grid;
  grid-template-rows: repeat(3,1fr);
  height: 100%;
  align-items: center;
}

/* layout for top anime  */
.topAnime-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.topAnime-title{

}


/* card layout  */
.card{
display: flex;
align-items: flex-ends;

}
.watch-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  gap:5px;
}

