body{
    height: 100vh;
    background-image: url(images/jutsu.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
}
.btn-top ul li{
    width: 100px;
    height: 30px;
    border: 1px solid black;
    border-radius: 25px;
  }

.main >*{
    /* border: 1px solid red; */
}

.upcoming-wrapper ul{
    padding: 10px;

}

.upcoming-wrapper{
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
   
  }

.first svg{
height: 1.5rem;
fill:gold;
}
.second svg{
height: 1.5rem;
fill:silver;
}
.third svg{
height: 1.5rem;
fill:#5C4326;
}

.top-anime li {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.btn-top{
    text-transform: uppercase;
}

.btn-top li{
    background-color: rgba(0, 0, 0, 0.5)
}

.btn-top li:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    cursor: pointer;
}
.card{
    color: white;
    background-size: cover;
    padding: 10rem 0 0;
    border-radius: 1rem;
    overflow: hidden;

}

.card.kimetsu{
    background-image: url(images/kimetsu.webp);
}

.card.op{
    background-image: url(images/op.avif);
}
.card.ji{
    background-image: url(images/jigo.jpg);
}
.card.dr{
    background-image: url(images/drstone.jpg);
}
.card.mashle{
    background-image: url(images/mash.avif);
}

.card.rezero{
    background-image: url(images/rezero.avif);
}

.card-content{
    padding: 1.5rem;
    background:linear-gradient(
        hsl(0  0% 0%/ 0),
        hsl(0  0% 0%/ 0.3) 20%,
        hsl(0  0% 0%/ 1)
    );
    
}

.card-title{
    position: relative;
    width: max-content;
    /* max-width: 100%; */
    
}
.card-title::after{
    content: "";
    position: absolute;
    height: 4px;
    width: calc(100% + 1.5rem);
    background: greenyellow;
    left: calc(1.5rem * -1);
    bottom:0;
}

.card-btn{
    display: inline-block;
    text-decoration: none;
    color:black;
    background: #22726b;
    padding: 0.5em 1.25em;
    border-radius: 25px;

}
.card-btn:hover{
    cursor: progress;
    background-color:#529483;
}

.card-btn:focus{
    background-color:#529483;
}
