body{
    background-image: url(images/jutsu.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
}
.btn-top ul li{
    width: 100px;
    height: 30px;
    border: 1px solid black;
    border-radius: 25px;
  }

.main >*{
    /* border: 1px solid red; */
}

.upcoming-wrapper ul>li{
    /* border: 1px solid red; */

}

.upcoming-wrapper{
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5)
  }

.first svg{
height: 1.5rem;
fill:gold;
}
.second svg{
height: 1.5rem;
fill:silver;
}
.third svg{
height: 1.5rem;
fill:#5C4326;
}